h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    height: 30px;
    width: 300px;
    font-size: 25px;
}